*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}



/* shared-style */

.btn{
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

}
.btn:hover {

    background-color: #2d5f42;
}



/* main-style */

/* navigation-section */
.nav-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
}
.nav-container .nav-content  {
    display: flex;
    gap:  34px;
    color: black;
}

/* banner-section */
.banner-section{

    background-image: linear-gradient(#00193133, #00193133),  url('./assets/hero-bg.png');
    max-width: 1600px;
    background-repeat: no-repeat;
    height: 674px;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center; 
    align-items: center
}

.banner-section .banner-content .banner-top-text {

    background-color: white;
    color: #469165;
    width: fit-content;
    display: flex;
    margin: 0 auto;
    font-weight: 500px;
    padding: 8px 12px;
    justify-content: center;
    text-align: center;
    border-radius: 1000px;
    border: none;
    box-shadow: 0 4px 4px 0 #00000040;
}



.banner-section .banner-content h1 {

    color: white;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.2;
    width: 770px;
    text-align: center;
    margin-top: 16px;
    margin: 16px 295px;
    text-shadow: 0 4px 4px 0 #00000040;


}
.banner-section .banner-content h1 span {
    display: block;          
    color: #30B868; 
    
}

.banner-section .banner-content .banner-detail{
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: white;
    line-height: 2;
    text-align: center;
    line-height: 24px;
}
.banner-section .banner-content .banner-button-container {

    margin-top: 32px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 16px;
}
.banner-section .banner-content .banner-button-container .btn1  {

    display: inline-flex; 
    justify-content: center;
    align-items: center;
    gap: 10px;
}

   
.banner-section .banner-content .banner-button-container .btn2 {

    background-color: transparent;
    border: 1px solid white;
}
.banner-button-container .btn2:hover {

    color: #30B868;
}

.notes-container{
    text-align: center;                         

}
.notes-container .section-heading{

    font-size: 48px;
    font-weight: bold;

}
.notes-container .section-sub-heading{

    font-size: 16px;
    line-height: 20px;
    color: #627382;

}
.notes-container .notes-content {

    display: flex;
    justify-content: c;
    gap: 24px;
    margin: 44px 120px 0 120px;
}
.notes-container .notes-content .notes-card {

    width: 322px;
    height: 300px;
    padding: 24px;
    border: none;
    
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #0000000F ;    
}
.notes-container .notes-content .notes-card img {

    margin-top: 69px;
    background-color: #F95555;
    padding: 32px 32px;
    border-radius: 50%;
}
.notes-container .notes-content .notes-card h4 {

    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}
.notes-container .notes-content .notes-card p {

    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}