*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}



/* shared-style */

.btn{
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

}
.btn:hover {

    background-color: #2d5f42;
}

.section-heading{

    font-size: 48px;
    font-weight: bold;
    color: #001931;

}

/* main-style */

/* navigation-section */
.nav-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
}
.nav-container .nav-content  {
    display: flex;
    gap:  34px;
}
.nav-container .nav-content a{

    text-decoration: none;
    color: black;
}

/* banner-section */
.banner-section{

    background-image: linear-gradient(#00193133, #00193133),  url('./assets/hero-bg.png');
    max-width: 1600px;
    background-repeat: no-repeat;
    height: 674px;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center; 
    align-items: center
}

.banner-section .banner-content .banner-top-text {

    background-color: white;
    width: fit-content;
    margin: 0 auto;
    font-weight: 500px;
    padding: 8px 12px;
    display:flex;
    justify-content: center;
    text-align: center;
    border-radius: 1000px;
    border: none;
    box-shadow: 0 4px 4px 0 #00000040;
}
.banner-content .banner-top-text:hover{
    background-color: #2d5f42c9;
    color: white;
}
.banner-section .banner-content .banner-top-text a{
    font-style: normal;
    text-decoration: none;
    color: #469165;

}
.banner-section .banner-content .banner-top-text a img{
    width: 16px;
    height: 16px;
    vertical-align: middle;

}

.banner-section .banner-content h1 {

    color: white;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.2;
    width: 770px;
    text-align: center;
    margin-top: 16px;
    margin: 16px 295px;
    text-shadow: 0 4px 4px 0 #00000040;


}
.banner-section .banner-content h1 span {
    display: block;          
    color: #30B868; 
    
}

.banner-section .banner-content .banner-detail{
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: white;
    line-height: 2;
    text-align: center;
    line-height: 24px;
}
.banner-section .banner-content .banner-button-container {

    margin-top: 32px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 16px;
}
.banner-section .banner-content .banner-button-container .btn1 , .btn2 ,#early-access .btn3  {

    display: inline-flex; 
    align-items: center;
    gap: 10px;
}

   
.banner-section .banner-content .banner-button-container .btn2 {

    background-color: transparent;
    border: 1px solid white;
}
.banner-button-container .btn2:hover {
    border: 1px solid #30B868 ;
    color: #30B868;
}


/* notes-section */
.notes-container{
    text-align: center;                         

}

.notes-container .section-sub-heading{

    font-size: 16px;
    line-height: 20px;
    color: #627382;

}
.notes-container .notes-content {

    display: flex;
    justify-content: c;
    gap: 24px;
    margin: 44px 120px 0 120px;
}
.notes-container .notes-content .notes-card {

    width: 322px;
    height: 300px;
    padding: 24px;
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #0000000F ;    
}
.notes-container .notes-content .notes-card img {

    margin-top: 69px;
    height: 32px ;
    width: 32px;
    padding: 20px;
    background-color: #F95555;
    border-radius: 50%;
}
.notes-container .notes-content .notes-card h4 {

    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
}
.notes-container .notes-content .notes-card p {

    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

/* secound-brain-section */

#secound-brain {
    margin: 120px;
}
#secound-brain .secound-brain-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}
#secound-brain .secound-brain-container .brain-content .p1{

    font-size: 16px;
    line-height: 20px;
    color: #469165;
    font-weight: 500;
    margin-bottom: 16px;
}
#secound-brain .secound-brain-container .brain-content .section-heading span ,#early-access p span{
    display: block;
    margin-bottom: 16px;
}
#secound-brain .secound-brain-container .brain-content .p2{

    font-size: 16px ;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #627382;
}
.brain-content .p2 span {
    display: block;
}
#secound-brain .secound-brain-container .brain-content ul{
    list-style: none;
    padding: 0;
}
#secound-brain .secound-brain-container .brain-content ul li {
    background: url("./assets/CheckCircle.png") no-repeat left center;
    padding-left: 28px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
}

/* early-access-section */

#early-access {
 
    width: 1380px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    
}


#early-access h2 {

    padding-top: 80px;
}
#early-access p{
    padding-top: 16px;
    color: #627382;
    line-height: 24px;
    padding-bottom: 8px;
}

#early-access .p2{
    padding-bottom: 80px;
    line-height: 20px;
}